// import partials
@import 'partials/variables', 'partials/sezonyaside';

// import fonts
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Merriweather');


// main
h1, h2, h3, h4 {
  font-family: "Merriweather";
}

p {
  margin: 4px 0;
}

body {
  font: 1em/1.5 "Alegreya Sans";
  font-weight: 400;
  background-color: $white;
}

.bold {
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

main {
  @media (min-width: $break-l) {
    @include flexy($wrap: wrap);
  }
  margin: auto;
}

// ==== LAYOUT ==== //
.side-box {
  flex: 1;
  max-width: $max-width-aside;
}

.main-wrapper {
  flex: 1;
  max-width: $max-width;
  margin: auto;
}

.aside-wrapper {
  max-width: $max-width-aside;
  margin: auto;
  position: sticky;
  top: 80px;
}



.grid-container {
  display: grid;
  grid-template-columns: 66.6% 33.3%;
  grid-template-rows: $header-height auto 50px;
  header,
  footer {
    grid-column: 1 / -1;
  }
  .wrapper {
    grid-column: 1 / -1;
  }
}

.wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 66.6% 33.3%;
}

footer {
  text-align: center;
}

/* === box === */
body {
  margin: 0;
}

.jumbo {
  background: url("../img/cover-image.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  height: $header-height;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-align: center;
  position: relative;
/*  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: $white;
    bottom: -11px;
    @media (min-width: $break-m) {
      bottom: -25px;
    }
    transform: skewY(2deg);
  } */ //skewed effect
  h1 {
    margin: 0;
    padding-top: 100px;
    text-shadow: 0 4px 4px rgba(black,.8);
  }
  p {
    text-shadow: 0 2px 2px rgba(black,1);
  }
}

main {
  margin-top: 10px;
}

// ====== NAVBAR ========
nav {
  background-color: rgba($black,.8);
  box-shadow: 0 2px 2px rgba(black,.8);
  position: fixed;
  top: 0;
  transition: .4s;
  z-index: 10;
  width: 100%;
  height: 56px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include flexy($just: space-around);
  }
  li, a {
    flex: 4;
    height: 56px;
  }
  a {
    @include flexy($dir: column, $just: center);
    text-decoration: none;
    color: $white;
    &:hover {
      background: rgba($color-primary,.6);
    }
  }
}


.nav-dropdown {
  &:hover .nav-dropdown-content {
    display: block;
    background-color: rgba($color-primary,.6);
  }
  .nav-dropdown-content {
    display: none;
    box-shadow: 0 2px 2px rgba(black,.6);
    a {
      height: 40px;
      transition: .2s;
      &:hover {
        background-color: rgba($white,.9);
        color: $color-primary;
      }
    }
  }
}

.selected {
  background: rgba($color-primary,.6);
}




// SELECT


.wyniki {
  flex: 3;
  margin: 0 auto;
  @media(min-width: $break-l) {
    margin: 0 12px;
  };
}


#add-result,
#stats-select {
  @include flexy($dir: column, $wrap: wrap);
  flex: 1;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 2px rgba(black,.6);
  padding-bottom: 16px;
  h3 {
    background-color: $color-primary;
    color: $white;
    margin: 0;
    margin-bottom: 8px;
    padding: 16px 0;
    text-align: center;
  }
  & > * {
    flex-grow: 1; // fix
    width: auto;
    margin: 4px 8px;
    font-size: .9em;
  }
}

#add-result {
  margin-top: 16px;
  @media (min-width: $break-l) {
    position: sticky;
    top: 288px;
  };
  @media (max-width: $break-l) {
    display: none;
  }
}

#stats-select {
  margin-top: 0;
  @media (min-width: $break-l) {
    position: sticky;
    top: 58px;
  };
  #btn-up {
    display: none;
    @media (min-width: $break-l) {
      display: block;
    };
  }
  a {
    text-decoration: none;
    padding: 4px 0;
    text-align: center;
    margin: 2px 8px;
  }
}

#box-czasu,
#box-filtrow {
  @include flexy($dir: row, $wrap: wrap);
  .zyciowka::after {
    content: 'życiówka';
  }
  & > * {
    margin: 4px 0;
    height: 34px;
    width: calc(50% - 2px);
    min-width: calc(50% - 2px);
    max-width: calc(50% - 2px);
    flex: 1;
    &:nth-child(odd) {
      margin-right: 2px;
    }
    &:nth-child(even) {
      margin-left: 2px;
    }
  }
  .switch-medium input:checked + span:before {
    transform: translateX(114px);
  }
  .switch ::before {
      width: 26px;
    }
}







input[type="text"],
select {
  min-width: 80%;
  height: 34px;
  margin: 4px;
  font: inherit;
  // font-size: .9em;
  text-align: center;
  color: $color-primary;
}





input[type="text"] {
  outline: none;
  border: $border-thin $gray;
  border-bottom: $border-thick $gray;
  &:focus,
  &:valid {
    border-color: $color-primary;
  }
  transition: .2s;
}

button,
.stats-select a {
  width: $item-l;
  height: 34px;
  font: inherit;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .4s;
  margin: 4px;
}


.btn-primary {
  background: $color-primary;
  color: $white;
  &:hover {
    // background: rgba($black,.8);
    background: $green;
  }
}

.btn-secondary,
.stats-select a {
  background: $white;
  color: $color-primary;
  border-bottom: $border-thick $color-primary;
  border-right: $border-thin $color-primary;
  &:hover {
    background: $color-primary;
    color: $white;
  }
}

// TABLE
table {
  margin: 8px auto;
  min-height: 34px;
  width: 100%;
  tr {
    transition: .2s;
  }
  td {
    height: 54px;
    padding: 4px 4px;
    font-size: .9em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
  }
}



#sezony { // overrule hover blue
  td:nth-child(10).zyciowka,
  td:nth-child(5).zyciowka,
  td:nth-child(8).zyciowka,
  td:nth-child(9).zyciowka,
  td:nth-child(6).zyciowka,
  td:nth-child(7).zyciowka {
    background: $green;
    color: $white;
  }
  tr:last-child {
    td {
      background: $color-primary;
      color: white;
      height: 34px;
    }
  }
  tr:hover td {
    background: $color-primary;
    color: $white;
  }
}

// coloring the cells in the table
.lightgrey {
  background: $light-grey;
}

.grey {
  background: $dark-grey;
}

.zyciowka {
  background: $green;
  color: $white;
}


#top-row-sezony {
  background: $white;
  padding-top: 2px; // fills the gap over the row
  position: sticky;
  top: 56px;
  td {
    height: 34px;
  }
  tr:nth-child(-n+2) {
    background: $color-primary;
    color: white;
  }
}


// baza startów
#top-row {
  background: $white;
  padding: 2px 0; // fills the gap over the row
  width: 100%;
  margin: auto;
  position: sticky;
  top: 56px;
  cursor: pointer;
  @media (max-width: $break-l) {
    margin-top: 8px;
  }
  td {
    height: 34px;
  }
  tr:nth-child(1) {
    background: $color-primary;
    color: white;
  }
  td:nth-child(6) {
    @media (max-width: $break-s) {
      display: none;
    }
  }
}

#baza-startow {
  width: 100%;
  tr {
    transition: .2s;
    &:hover td {
      background: $color-primary;
      color: $white;
    }
  }
  td:nth-child(6) {
    @media (max-width: $break-s) {
      display: none;
    }
  }
}

#up {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 2px 2px rgba(0,0,0,.6);
  background: $color-primary;
  color: white;
  text-align: center;
  position: sticky;
  bottom: 20px;
  left: 92%;
  text-decoration: none;
  @media (min-width: $break-l) {
    display: none;
  }
  @media (max-width: $break-s) {
    left: 83.5%;
  }
}


// ===== życiówki ===== //
#zyciowki {
  margin: auto;
  width: 95%;
  padding: 2px 0;
  background: $white;
  td {
    height: 34px;
    min-width: 56px;
    max-width: 80px;
  }
  @include flexy($dir: row, $wrap: wrap, $just: center);
}

.primary-cell {
  background: $color-primary;
  color: $white;
}

.runners-name-box {
  background: $white;
  box-shadow: 0 2px 2px rgba(black,.8);
  padding-top: 4px;
  position: sticky;
  top: 56px;
}

.wyniki-statystyki {
  font-size: .9em;
  margin: 10px;
  min-width: 315px;
  max-width: 350px;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  h2 {
    text-align: center;
    background-color: $color-primary;
    color: white;
    margin: 0;
    padding: 18px 0;
  }
  h3 {
    color: $color-primary;
    padding: 0 8px;
  }
  & > div {
    width: 100%;
    margin: 0 auto;
  }
  @include flexy($dir: row, $wrap: wrap, $just: space-around);
}

.toggle-content {
  @include flexy($dir: row, $just: space-between);
  background: $light-grey;
  &:last-child {
        padding-bottom: 15px;
  }
  p {
    min-width: 62px;
    padding: 0 8px;
    text-align: center;
    &:first-child {
      font-weight: 700;
    }
    &:last-child {
      color: $color-primary;
      font-weight: 700;
    }
  }
}

.rozwin,
.zwin {
  cursor: pointer;
}

.hidden-content {
  text-indent: 0;
  @include flexy($dir: row, $wrap: wrap);
  display: none;
  p {
    width: 25%;
    padding: 4px;
    text-align: center;
  }
}

.box-zyciowki .hidden-content p {
  text-align: center;
  &:first-child {
    width: 50%;
  }
}

.box-rekordy .toggle-content p {
  &:first-child {
    min-width: 100px;
    text-align: left;
  }
  &:nth-child(2) {
    min-width: 74px;
  }
}

.box-top-zawodow {
  .toggle-content p {
    &:nth-child(2) {
    min-width: calc(100% - 164px);
    }
    &:nth-child(1) {
      max-width: 40px;
      min-width: 40px;
    }
  }
  .hidden-content p {
    width: 33.3%;
  }
}

.box-top-dystansow {
  .toggle-content p {
    &:nth-child(2) {
      color: $color-primary;
      min-width: 68px;
    }
  }
  .hidden-content {
    justify-content: center;
  }
  .hidden-content p {
    max-width: 60px;
    &:nth-child(4n+3) {
      min-width: calc(100% - 180px);
    }
  }
}
