// import partials
@import 'partials/variables';

// import fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Titillium+Web:400,700&display=swap&subset=latin-ext');

// general
* {
  box-sizing: border-box;
}

h1 {
  font: 2em/2 'Abril Fatface', cursive;
  text-align: center;
}

h2 {
  font: 1.6em/2 'Abril Fatface', cursive;
  text-align: left;
  margin: 4px auto;
  border-bottom: 2px solid $champions-league-blue;
}

body {
  font: .9em/1.5 'Titillium Web', sans-serif;
  font-weight: 400;
  background-color: $white;
  margin: 0;
}

.bold {
  font-weight: 700;
}

p {
  margin: 4px 0;
}


.team {
  font-weight: 700;

}

.handicap-1 {
  color: $handicap-1;
}

.handicap-2 {
  color: $handicap-2;
}


// specific boxes and other
#header-table {
  margin: 15px 0;
  table {
    max-width: 450px;
    border-collapse: collapse;
    tr:first-child {
      font-variant: small-caps;
      font-weight: 700;
    }
    tr:last-child td {
      font-variant: small-caps;
    }

    tr:nth-child(2) td {
      color: $accent-color;
    }

    tr:nth-child(3) td {
      color: $accent-color-2;
    }

    td {
      text-align: center;
      padding: 2px 0;
      // box-shadow: 0 1px 1px rgba(0,0,0,.5);
    }
    tr td:first-child {
      text-align: left;
      font-weight: 700;
      min-width: 25%;
    }
    tr:nth-child(2) td {
      border-top: 1px solid $black;
    }
    //
    // tr:nth-child(4) td {
    //   border-bottom: 1px dotted $black;
    // }

    tr:last-child td {
      border-top: 1px solid $black;
    }

    tr td:nth-child(3),
    tr td:nth-child(4) {
      font-weight: 700;
    }

    tr td:nth-child(2) {
      font-size: .75em;
      font-weight: 700;
    }
  }
}

#current-matches-box {

}

#graph-box {

}

.jumbo {
  // background: url(https://s3-eu-central-1.amazonaws.com/centaur-wp/creativereview/prod/content/uploads/2018/06/banner-UCL18-21_PressKit_KeyVisual_Stadium-1920x604.jpg) no-repeat;
  // background-attachment: fixed;
  // background-position: 50% 0%;
  background-color: $champions-league-blue;
  text-shadow: 0 4px 4px rgba(0,0,0,.5);
  box-shadow: 0 2px 2px rgba(black,.8);
  padding-top: 40px;
  height: $jumbo-height;
  h1 {
    color: $white;
  }
}

footer,
.text-small {
  text-align: center;
  font-size: .75em;
}

.main-box {
  @include flexy($dir: column, $just: space-around);
}

.info-text {
  text-align: justify;
  margin-top: 15px;
}

.btn-box {
  @include flexy($dir: row, $just: center);
  margin: 10px auto;
}

.single-match-box {

}

.wrapper {
  flex: 1;
  width: 90%;
  margin: auto;
}

nav {
  background-color: rgba($black,1);
  box-shadow: 0 2px 2px rgba(black,.8);
  width: 100%;
  height: 40px;
  position: fixed;
  transition: .4s;
  top: 0;
  z-index: 10;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include flexy($dir: row, $just: space-around);
  }
  li, a {
    flex: 1;
    height: 40px;
  }
  a {
    text-decoration: none;
    text-align: center;
    @include flexy($dir: column, $just: center);
    color: $white;
    &:hover {
      background: rgba($champions-league-blue,1);
    }
  }
}

// class selected
.selected {
  background: rgba($champions-league-blue,1);
}


.box-na-typy {
  box-shadow: 0 1px 1px rgba($black,.6);
  background-color: $champions-league-blue;
  color: $white;
  margin: 2px 0;
}

// hide and show content
.toggle-content {
  @include flexy($dir: row, $wrap: wrap);
  box-shadow: 0 1px 1px rgba($black,.6);
  background-color: $champions-league-blue;
  color: $white;
  margin: 1px auto;
  height: 30px;
  &:last-child {
    padding-bottom: 15px;
  }
  p {
    width: 27.5%;
    // min-width: 62px;
    padding: 0px 4px;
    text-align: center;
    &:last-child {
      font-variant: small-caps;
    }
  }
}

.hidden-content {
  text-indent: 0;
  @include flexy($dir: row, $wrap: wrap);
  display: none;
  p {
    width: 27.5%;
    padding: 4px;
    margin: 0;
    text-align: center;
  }
}

.toggle-content,
.hidden-content {
  p:nth-child(5n+1) {
    max-width: 10%;
    font-size: .75em;
    padding: 2px 2px;
  }
  p:nth-child(5n+5) {
    max-width: 20%;
  }
  p:nth-child(5n+3) {
    max-width: 15%;
  }
  p:nth-child(5n+2) {
    text-align: left;
  }
  p:nth-child(5n+4) {
    text-align: right;
  }
}

.rozwin,
.zwin {
  cursor: pointer;
}



// switch


.dodaj-wynik {
  @include flexy($dir: row, $wrap: wrap);
  & > * {
    // width: 15%;
  }
  p {
    text-align: right;
    margin: 2px auto;
    padding: 2px 0;
    min-width: 25%;
    &:first-child {
      text-align: left;
    }
  }
}

.wpisz-wynik {
  max-height: 26px;
  max-width: 26px;
  text-align: center;
  font-family: inherit;
  padding: 2px 0;
  margin: 2px;
}

.switch2 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch2 input {
  display: none;
}

.slider2 {
  background: $light-grey;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

.slider2::before {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  background: white;
  height: 22px;
  width: 22px;
  transition: .4s;
}

.slider2::after {
  position: absolute;
  content: 'kap';
  color: white;
  font-size: 14px;
  top: 4px;
  right: 4px;
  transition: .4s;
}

.input2:checked ~ .slider2:before {
  transform: translateX(30px);
}

.input2:checked ~ .slider2:after {
  transform: translateX(-27px);
  content: 'kap';
}


.input2:checked ~ .slider2 {
  background: $champions-league-blue;
}


// buttons
button {
  width: 100px;
  height: 34px;
  font: inherit;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .4s;
  margin: 4px;
}

.btn-primary,
.btn-secondary {
  font-weight: 700;
  box-shadow: 0 2px 2px rgba($black,.8);
  &:active {
    // transform:translate(0px, -1px);
    // box-shadow: 0 4px 8px rgba($black,.8);
  }
}

.btn-primary {
  width: 200px;
  color: $white;
  background: $champions-league-blue;
  &:active {
    background: rgba($champions-league-blue,.6);
  }
  &:disabled {
    background-color: $handicap-2;
    color: $white;
    border: none;
    }
}

.btn-secondary {
  color: $champions-league-blue;
  background: $white;
  &:active {
    background: rgba($champions-league-blue,.4);
  }
}




// random IDs
#typy-1 {

}
