

$main: #34495e;
$secondary-white-text: #FF5154;// #e57200; orange
$secondary-black-text: #F6E8EA; //gray // #9DD9D2; greenish // #8DDBE0; greenish grayish
$white: white;
$black: #333;
$gold: #F2E863;
$blue: #31AFD4;



$dark-green: #61988E;


// colors
//$main: #1699e4;
$green: #78be20;
$gray: #D0D3D4;





// sizes
$font-small: .8em;
$font-big: 1.1em;
$font-bigger: 1.25em;

$navbar-height: 88px;
$footer-height: 44px;
$max-width: 460px; //420

// MIXINS
@mixin flexy(
  $disp: flex,
  $dir: row,
  $wrap: null,
  $just: space-around,
  $align: center) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin accent-black-text() {
  background: $secondary-black-text;
  color: $black;
}

@mixin accent-white-text() {
  background: $secondary-white-text;
  color: $white;
}

//
// $main: #16697A;
//$green: #78be20;
// $lightblue: #00c1d5;
//$orange: #e57200;
// $gray: #D0D3D4;
// $white: white;
// $black: black;
// $gold: #FAC748;
$red: #F8333C;
//
// $firebrick: #AB3428;
// $gainsboro: #E6E6EA;
//
// $neutral: #F7EDF0;
// $flat-red: #EF5B5B;
$flat-green: #B0F2B4;
// $flat-gold: #F2E863;
