
// colors
$white: #f9f9f9;
$black: #333;
$gray: #C0C0C0;
$green: #539b3a;
$color-primary: #3A539B;
$light-grey: #DADFE1;
$dark-grey: #BDC3C7;

$border-thin: 1px solid;
$border-thick: 2px solid;

// select & buttons
$item-s: 50px;
$item-m: 100px;
$item-l: 150px;
$item-xl: 200px;

// media queries breakpoints
$break-s: 455px;
$break-m: 605px;
$break-l: 950px;
$break-xl: 1200px;

$header-height: 250px;

// table-related widths
$max-width: 700px;
$max-width-aside: 350px;


.cell-numeral {
  width: 29px;
  min-width: 29px;
}
.cell-date {
  width: 71px;
  min-width: 71px;
}
.cell-run-name {
  min-width: 115px;
  width: 40%;
  max-width: 200px;
}
.cell-distance {
  min-width: 52px;
  width: 52px;
}
.cell-duration {
  min-width: 59px;
  width: 59px;
}


// MIXINS
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}
