// import partials
@import 'partials/variables';

// fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

html {
  //background: rgba(0,0,0,.075);
  background: #000; //$dark-background;
}

* {
  box-sizing: border-box;
	font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  margin: 0 auto;
  max-width: $max-width;
  // background-image: url('../img/lm-background2.jpg');
  // background-position: bottom center;
  // background-repeat: no-repeat;
}

p {
  margin: 4px auto;
  color: $white;
}

h1 {
  color: $gold;
  margin-top: 12px;
}

h3 {
  text-align: center;
  color: $main;
  margin: 4px;
  font-size: 1.2em;
}

// h2 {
//   font-size: $font-big;
//   color: $main;
//   text-align: center;
// }

// NAVBAR
.main-wrapper {
	width: 95%;
	margin: calc(#{$navbar-height} + 8px) auto 16px;
	min-height: calc(100vh - 8px - 16px - #{$navbar-height});
	@include flexy ($dir: column, $just: start);
  > * {
    width: 100%;
  }
}



nav {
	text-align: center;
	@include flexy ($just: center, $dir: column);
	height: $navbar-height;
	width: 100%;
	max-width: $max-width;
	position: fixed;
  top: 0;
	z-index: 10;
	//background: $white;

  .logotyp-tabelki {
    min-height: 72px;
    min-width: 100%;
    background: $main;
    @include flexy;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    z-index: 15;
    div {
      flex: 6;
      @include flexy;
      img {
        //max-height: 70%;
        max-width: 45%;
      }
    }
    a {
      flex: 1;
    }
  }
	ul {
		padding: 0;
		list-style-type: none;
		width: calc(100% - 8px);
		@include flexy;
		margin: 0 4px;
		li {
			@include flexy;
			flex: 3;
      &:last-child {
        flex: 1;
      }
		}
	}
	a, li {
		height: 30px;
	}
	a {
		@include flexy ($dir: row, $just: center);
    text-decoration: none;
    // @include accent-white-text;
    background: $secondary-white-text;
    color: white;
    //font-variant: small-caps;
		font-weight: bold;
    font-size: .85em;
		flex: 1;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    .bx {
      font-size: 1.7em;
      margin: 0 4px;
    }
    .bigger-bx {
      font-size: 2em;
    }
		&:hover {
      background: $main;
      color: $white;
		}
	}
  li:last-child a {
    background: $gold;
    color: $black;
    &:hover {
			//color: $gray;
      background: $main;
      color: $white;
    }
  }
}


.selected {
  background: $main;
  color: $white;
}

.infolink {
  //min-width: 60px;
  min-height: 40px;
  margin-right: 4px;
  background: $main;
  font-size: $font-bigger;
  box-shadow: none;
  border-radius: 0;
  transition: transform .3s;
  @include flexy($dir: column);
  &:hover {
    .bx {
      transform: rotate(360deg) scale(1.2);
      transition: transform .3s;
    }
    // .infotekst {
    //   transform: scale(1.2);
    //   transition: transform .3s;
    // }
  }

}
.infotekst {
  font-size: .6em;
}


footer {
  width: 100%;
	height: $footer-height;
	@include flexy;
	background: $main;
  color: $white;
  text-align: center;
  p {
    margin: 0;
    flex: 1;
    @include flexy;
    height: $footer-height;
    a {
  		@include flexy ($dir: column, $just: center);
      text-decoration: none;
      color: $white;
  		font-weight: bold;
      font-size: $font-small;
      height: $footer-height;
  		flex: 1;
  		.bx {
  			font-size: 1.5rem;
  			color: $white;
  			padding-bottom: 2px;
  		}
  		&:hover {
  			color: $gray;
  			.bx {
  				color: $gray;
  			}
  		}
  	}
  }
}


// =================== KALENDARZ MECZOWY ================
.harmonogram-text {
   text-align: center;
   border-bottom: 1px dashed $white;
   line-height: 0.05em;
   margin-bottom: 0;
   span {
     background: #000;
     color: $white;
     font-size: $font-small;
     padding: 0 10px;
   }
}

#progress-blocks-box {
  @include flexy($just: center, $wrap: wrap);
  padding: 8px 0;
  border-bottom: 1px dashed $gray;
  margin: 0 auto 20px;
  .progress-block {
    flex: 1;
    height: 100%;
    background: $secondary-white-text;
    color: $white;
    margin: 2px;
    border-radius: 2px;
    max-width: 16%;
    min-width: 16%;
    height: 20px;
    font-size: $font-small;
    text-align: center;
    padding: 4px 0;
  }
  .filled {
    background: $main;
    color: $white;
    padding: 3px 0;
    .bx {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}
// ============= KONIEC KALENDARZA MECZOWEGO ================

// ============= MECZE + TYPY =============
#mecze,
#nastepnemecze {
  margin-top: 12px;
  margin-bottom: 20px;
}

.match-box {
  margin: 0 auto;
  @include flexy;
  position: relative;
}

.match-box,
.bets-box {
  width: 95%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  border-radius: 8px;
  &:active {
    background-color: $secondary-white-text;
    opacity: 50%;
  }
}

.overlay,
.match-box {
  -webkit-tap-highlight-color: transparent;
}


.bets-box {
  border-radius: 0 0 8px 8px;
  margin: 0 auto;
  height: auto;
  max-height: 0;
  transition: .25s ease-out;
  overflow: hidden;
  margin: 0 auto 8px;
  padding-right: 1px;
}

.bets-box-final {
  max-height: 100%;
  overflow: visible;
}

.empty {
  min-height: 8px;
}

.typowanie-info {
  p:first-child,
  p:nth-child(2) {
    color: $main;
    font-weight: bold;
    text-align: center;
  }
  margin: 12px auto;
  width: 100%;
}

.result-wrapper, .bet {
  display: flex;
  justify-content: space-around;
  background: $white;
  box-shadow: 0 2px 2px rgba(0,0,0,.25);
  p {
    margin: 4px 0;
  }
}

.result-wrapper {
  border-radius: 8px;
  width: 100%;
  background: $main;
  color: $white;
}


.results, .player-results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 8px;
  p {
    flex: 1;
  }
}


.player-results {
  flex: 1;
  text-align: center;
  p:first-child {
    text-align: right;
    font-size: $font-small;
    color: $gold;
  }
}

.results {
  input {
    width: 24px;
    height: 24px;
    margin: 0 2px;
    text-align: center;
    &[type=checkbox] {
      width: 16px;
      height: 16px;
    }
  }
}

.time {
  @include flexy;
}


.teams, .details {
  flex: 6;
}

.details {
  padding-left: 8px;
}

.time, .results {
  text-align: center;
  flex: 1;
}

.time {
  padding: 10px 0;
  font-size: .75em;
}



.open {
  border-radius: 8px 8px 0 0;
  background: $main;
  color: $white;
}

.bet {
  display: flex;
  justify-content: space-around;
  height: 24px;
  font-size: $font-small;
  background: $secondary-white-text;
  margin-left: 8px;
  > * {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    &:first-child {
      border-bottom: none;
    }
  }
  &:first-child {
    height: 36px;
    padding-top: 12px;
    margin-top: -10px;
  }
  &:last-child {
    border-radius: 0 0 8px 8px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    > * {
      border-bottom: none;
    }
  }
}


.details {
  display: flex;
  justify-content: space-around;
  > p {
    flex: 3;
  }
  > div {
    flex: 2;
  }
}

.captain {
  font-size: .85em;
  font-weight: bold;
  color: $white; //#008EAA;
}


.teams {
  @include flexy($just: space-between);
  .team {
    flex: 1;
    &:first-child {
      text-align: right;
    }
    &:last-child {
      text-align: left;
    }
  }
  .divider {
    max-width: 24px;
    min-width: 24px;
    text-align: center;
  }
}

// ================ KONIEC MECZE + TYPY =================


// ================ TABELE GRUPOWE ======================

#box-tabele {
  width: 95%;
  @include flexy($dir: column);
}

.tabela-grupowa {
  @include flexy($dir: column);
  margin-bottom: 20px;
  //width: 95%;
  width: 100%;
  flex: 1;
}



.tabela-row {
  width: 100%;
  height: 24px;
  margin-bottom: 2px;
  @include flexy;
  //border-bottom: 1px dashed $gray;

  &:nth-child(2) {
    background: $main;
    color: $black;
    border-bottom: none;
    border-radius: 4px;
  }
  &:nth-child(3), // drugie i trzecie miejsce w tabeli
  &:nth-child(4) {
    background: $secondary-white-text;
    color: $white;
    border-radius: 4px;
  }
  p {
    flex: 1;
    text-align: center;
    font-size: $font-small;
    margin: 4px 0;
  }
  p:nth-child(3) {
    font-weight: 700;
    font-size: 1em;
    flex: 2;
  }

  p:nth-child(3),
  p:nth-child(4),
  p:nth-child(6) {
    text-align: right;
    padding-right: 8px;
  }

  p:nth-child(4),
  p:nth-child(6) {
    flex: 1;
  }

  p:nth-child(2) {
    flex: 4;
    text-align: left;
    font-size: 1em;
  }
  .tabela-divider {
    max-width: 4px;
    font-size: $font-bigger;
    padding-bottom: 2px;
  }
  &:nth-child(1) {
    p {
      font-size: $font-small;
      color: $white;
      text-align: center;
      font-weight: 500;
      &:nth-child(2) {
        text-align: left;
        font-size: .9em;
        font-weight: 700;
      }
      &:nth-child(6) {
        text-align: center;
        font-size: .7em;
        padding-right: 4px;
        padding-left: 4px;
      }
      &:nth-child(3) {
        font-size: .7em;
        text-align: right;
        font-weight: 500;
      }
      // &:nth-child(4) {
      //   padding-right: 0;
      // }
    }
  }
}

.row-white {
  &:nth-child(3),
  &:nth-child(4) {
    background: $white;
    color: $black;
  }
}

.loading, .loading-even {
  font-size: $font-small;
  text-align: center;
}

.loading {
  margin: 14px auto 24px;
}

.loading-even {
  margin: 24px auto;
}

.trophy {
  .bx {
    font-size: 1.5em;
  }
}
// .up {
//   color: #5C8001;
// }
//
// .down {
//   color: #EF5B5B;
// }




#tabela-ranking {
  @include flexy($dir: column);
  margin-top: 16px;
  width: 95%;
  .ranking-row,
  .tabela-header {
    width: 100%;
    @include flexy;
    .tabela-divider {
      max-width: 4px;
      //font-size: $font-bigger;
      padding-bottom: 2px;
    }
  }
  .ranking-row {
    p {
      flex: 1;
      text-align: center;
      padding: 2px 0;
    }
    p:first-child {
      font-size: $font-small;
    }
    p:nth-child(2) {
      flex: 5;
      text-align: left;
    }
    p:nth-child(3) {
      text-align: right;
    }
    p:nth-child(3),
    p:nth-child(6) {
      font-weight: 700;
    }
    p:nth-child(4),
    p:nth-child(7) {
      font-size: $font-small;
    }
    p:nth-child(4) {
      padding-right: 8px;
      text-align: right;
    }
    p:nth-child(7) {
      padding-right: 8px;
    }
  }
  .tabela-header {
    height: 30px;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid $secondary-white-text;
    p {
      font-size: 8.4;
      flex: 1;
      &:nth-child(2) {
        flex: 5;
        font-size: 10.8;
        font-weight: 700;
      }
      &:nth-child(3),
      &:nth-child(5) {
        padding-right: 8px;
        text-align: center;
        flex: 2;
      }
    }
  }
}



.finalista {
  background: $gold;
}

.faza-grupowa {
  @include accent-black-text;
}


.suma-punktow {
  border-top: 1px dashed $gray;
}


.small {
  font-size: $font-small;
}

.bold {
  font-weight: bold;
  font-size: inherit;
}

.green {
  color: $green;
}

.gold {
  color: $gold;
}



// ================ PUNKTACJA I INFO ======================

#punktacja-box,
.przyciski-box,
.punktacja-example-box {
  width: 95%;
  margin: 8px auto;
}

.przyciski-box {
  @include flexy;
}

.button {
  text-decoration: none;
  color: $white;
  font-size: $font-small;
  text-align: center;
  padding: 12px 0;
  font-weight: 700;
  width: 45%;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: $secondary-white-text;
  &:hover {
    background: $main;
  }
}

#punktacja-box {
  .punktacja-row {
    @include flexy;
    border-bottom: 1px dashed $gray;
    height: 25px;
    p {
      flex: 3;
      text-align: center;
      margin: 0;
      padding: 4px;
      min-height: 100%;
      &:first-child {
        font-size: $font-big;
        font-weight: 700;
        color: $gold;
      }
      &:nth-child(2) {
        flex: 5;
        @include accent-white-text;
      }
    }
    &:first-child {
      border-bottom: 2px solid $black;
      font-weight: 700;
      background: $main;
      min-height: 36px;
      p {
        font-size: $font-small;
        padding: 12px 4px;
        &:nth-child(2) {
          font-weight: 500;
          flex: 5;
          @include accent-white-text;
          padding: 4px;
        }
      }
    }
  }
}


.punktacja-example-box {
  .punktacja-row {
    @include flexy;
    border-bottom: 1px dashed $gray;
    p {
      flex: 1;
      text-align: center;
      font-weight: 700;
      &:first-child {
        font-size: $font-big;
        font-weight: 700;
      }
    }
    &:first-child {
      border-bottom: 2px solid $black;
      background: $white;
      color: $black;
      min-height: auto;
      p {
        font-size: $font-small;
      }
    }
  }
}

.points-example p {
  font-size: $font-small;
  color: $green;
  font-weight: 700;
}

.no-border {
  border: none;
}


.akapit {
  margin-top: 16px;
}

.mini-headline {
  margin: 24px 0 12px;
}

.faza-1,
.grupa-row {
  @include flexy($just: space-between);
}

.faza-2 {
  @include flexy;
}

.faza-1,
.faza-2 {
  margin-top: 8px;
}


.grupa {
  @include flexy($dir: column);
  width: 48%;
}

.grupa-2 {
  @include flexy($dir: column);
  width: 60%;
}

.grupa-row {
  width: 100%;
  p {
    padding: 4px;
    margin: 0;
    text-align: right;
    flex: 1;
  }
  p:first-child {
    flex: 3;
    text-align: left;
  }
}

.header-instrukcja {
  font-size: $font-small;
  font-weight: 700;
  color: $main;
  margin-top: 8px;
}

.awans {
  background: $gold;
}

.awans-zwyciezca {
  background: $main;
  color: $white;
  p span {
    color: $gold;
  }
}

.center {
  text-align: center;
  margin: 0;
  font-size: .9em;
  margin-bottom: 4px;
  .bx {
    font-size: 2em;
    color: $main;
    margin: 16px 0;
  }
}

#tabela-bonusy {
  width: 95%;
  margin: 8px auto;
  .tabela-bonusy-row {
    @include flexy;
    border-bottom: dashed 1px $gray;
    p {
      height: 28px;
      flex: 1;
      text-align: center;
      margin: 4px;
      &:first-child {
        text-align: left;
      }
    }
    &:first-child,
    &:nth-child(2) {
      background: $main;
      font-weight: 700;
      border-bottom: none;
      p {
        font-size: .85em;
        margin: 0 4px;
        height: auto;
      }
    }
    &:first-child {
      padding-top: 8px;
      border-radius: 8px 8px 0 0;
    }
    &:nth-child(2) {
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-radius: 0 0 8px 8px;
    }
  }
}
